@import './bootstrap/css/bootstrap.min.css';

:root{
    --primary-font-color: #7cffe9;
    --link-font-color: #faad25;
    --link-hover-color: #da6913;
}

body{
    background-color: #013748;

    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size:1.5rem;
    color:var(--primary-font-color);
}

hr{
    border: 1px solid var(--primary-font-color);
 }

a{
    color: var(--link-font-color);
    transition: color 0.3s;
}
a:hover{
    color: var(--link-hover-color);
    text-decoration: none;
}

.external-media a{
    margin:0 0.5rem;
  }

.external-media{
    display: flex;
    justify-content: center;
}

.external-media svg{
    height: 2rem;
}

.section-break{
    margin:3.5rem auto;
    max-width:70%
}